//
//  Debug.xcconfig
//  CookPad
//
//  Created by Mariano Arselan on 09-02-26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GID_CLIENT_ID = 143791347101-a3v4h6bda5g134lv9sfl1on99fg4968k.apps.googleusercontent.com
RECIPES_BASE_URL = https:/$()/www.themealdb.com
RECIPES_API_KEY = 65232507
