//
//  Prod.xcconfig
//  CookPad
//
//  Created by Mariano Arselan on 09-02-26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GID_CLIENT_ID = 
RECIPES_BASE_URL = 
RECIPES_API_KEY = 
